{% extends "base.html" %}

{% block content %}
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>The Gallery</title>
</head>
<body>
    <div class="bg-image"></div>
      <div class="bg-text">
        <h2 style="font-size: 3em; color: #ca6702;">The Gallery</h2>
        <p style="font-size: 25px; color: white; font-weight: 600;">There is one thing the photograph must contain, the humanity of the moment.<br>
          - Robert Frank -</p>
      </div>
      <section class="py-5 gallery-section container-fluid" id="gallery-section">
        <h2 class="fw-bold text-center">The Gallery</h2>
        <div class="row pt-4">
            {% for image in images %}
            <div class="col-sm-6 col-xl-3 col-lg-4">
                <img src="{{image.image.url}}" style="width: 250px; height: 300px; border-radius: 5px;">
                <p style="text-align: center; font-weight: 600;">{{image.image_name}}</p>
                <a href= "/get-image/{{ image.id }}" target="self" class="btn btn-warning">Display</a>
            </div>
            {% endfor %}
            {% if images.number == 0 %}
            <p class="text-center pt-4">No images yet</p>
            {% endif %}
        </div>
    </section>
    {% load static %}
    {% block 'content' %}
    <div class="pt-5"></div>
    {% include 'display.html' %}
    {% endblock %}
</body>

{% endblock %}